{% extends 'puzzlehunt/puzzlehunt.html' %}
{% block title %}Login{% endblock %}

{% block css %}
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static "puzzlehunt/css/login.css" %}'>
{% endblock %}

{% block body %}

    <div class='container'>
        <div class='row'>
            <form class='form-signin' method='post' action='{% url "login" %}'>
            {% csrf_token %}
                <h2>Sign in</h2>
                <div class='form-group'>
                    <label for='{{ form.username.id_for_label }}' class='sr-only'>Username</label>
                    <input type='text' class='form-control username' id='{{ form.username.auto_id }}' name='{{ form.username.html_name }}' value='{{ form.username.value|default:"" }}' placeholder='Username' required autofocus autocapitalize='off' autocorrect='off' autocomplete='off'>
                    <label for='{{ form.password.id_for_label }}' class='sr-only'>Password</label>
                    <input type='password' class='form-control password' id='{{ form.password.auto_id }}'  name='{{ form.password.html_name}}' placeholder='Password' required>
                    <input type='hidden' name='next' value='{{ next }}'>
                    <button class='btn btn-lg btn-primary btn-block' id='submit' type='submit'>Sign in</button>
                </div>
            </form>
        </div>
{% if form.errors %}
        <div class='row text-center'>
            <p>The username/password was incorrect.</p>
        </div>
{% endif %}
    </div>


{% endblock %}
