.container {
    max-width: 640px;
}

.row {
    margin-top: 10px;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 40px;
}

.hint {
    margin-bottom: 40px;
}

.hint.inactive {
    color: #CCCCCC;
}

.info-header {
}

.info-content {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 40px;
}

.solution-form {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
}
