* { font-family: 'Open Sans', sans-serif; }

@media (min-width: 768px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
}

.center-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-error-text {
  color: red;
}

.center-text {
    text-align: center;
}