.container {
    max-width: 640px;
}

.row {
    margin-top: 10px;
    margin-bottom: 20px;
}

hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.info-header {
}

.info-content {
    font-weight: 300;
    font-size: 24px;
}
