.team-score {
    padding-bottom: 30px;
}

.puzzle {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    color: #444444;
}

.puzzle:hover {
    background-color: #F0F0F0;
}

.puzzle-complete {
    background-color: #D8F6CE; 
}

.puzzle-complete:hover {
    background-color: #CEF6CE;
}

.puzzle .title {
    font-weight: 200;
    font-size: 48px;
    padding-bottom: 10px;
}

.puzzle .score {
    color: #999999;
    text-align: right;
}

#puzzles a:hover {
    text-decoration: none;
}
