{% extends 'puzzlehunt/puzzlehunt.html' %}
{% block title %}Join a Team!{% endblock %}

{% block css %}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-10 col-md-8 col-lg-6 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
      <div class="text-center">
        <h1>Join a Team</h1>
      </div>
      {% if not has_team %}
        <h3>Make a Team</h3>
        {% if has_error %}<span class='bg-danger'>Team already exists</span>{% endif %}
        <form class="form-inline" method="POST" action="/maketeam">
          {% csrf_token %}
          <div class="form-group">
            <input class="form-control" type="text" name="team_name" placeholder="Team Name">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="passcode" placeholder="Passcode (optional)" autocapitalize='off' autocorrect='off' autocomplete='off'>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Create Team&nbsp;&nbsp;<i class='fa fa-caret-right'></i></button>
          </div>
        </form>
      {% endif %}
      <h3>Teams with Spots</h3>
      <div class="team-list list-group">
        {% for team in unfull_teams %}
          <a href="/jointeamid/{{ team.id }}" class="list-group-item {% if has_team %}disabled{% endif %}">
            {{ team.name }}
            <span class="badge">{{ team.spots_left }} Spot{% if team.spots_left > 1 %}s{% endif %} Left{% if team.has_passcode %}&nbsp;&nbsp;&middot;&nbsp;&nbsp;<i class='fa fa-lock'></i>{% endif %}</span>
          </a>
        {% endfor %}
      </div>
      <h3>Full Teams</h3>
      <div class="team-list list-group">
        {% for team in full_teams %}
          <a href="#{{ team.id }}" class="list-group-item disabled">{{ team.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}{% endblock %}
