{% extends 'puzzlehunt/puzzlehunt.html' %}
{% block title %}Puzzles{% endblock %}

{% block css %}
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static "puzzlehunt/css/puzzle-index.css" %}'>
{% endblock %}

{% block body %}
    <div class='container' id='puzzles'>
{% for puzzle in puzzles %}
        <a href='{% url "puzzle" puzzle.id %}'>
            <div class='row puzzle' style='background-image: url("{{ puzzle.image.url }}");'>
                <div class='col-sm-8'>
                    <h1 class='title'>{{ puzzle.title }}</h1>
                    <h4 class='subtitle'>{{ puzzle.subtitle }}</h4>
                </div>
                <div class='col-sm-4'>
                    <h5>{{ puzzle.time_limit }}</h5>
                </div>
            </div>
        </a>
{% endfor %}
    </div>
{% endblock %}

{% block js %}

{% endblock %}
