<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{% endblock %} - Puzzlehunt 112</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    {% load staticfiles %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='{% static "puzzlehunt/css/vendor/bootstrap.min.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "puzzlehunt/css/vendor/font-awesome.min.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "puzzlehunt/css/puzzlehunt.css" %}'>
    {% block css %}{% endblock %}

</head>

<body>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='{% url "puzzlehunt-home" %}'>15112 Puzzlehunt</a>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav'>
            <li><a href='{% url "puzzle-index" %}'>Puzzles</a></li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            {% if user.is_authenticated %}
              <li><a href='#'>{{user}}{% if user.member.team %} | Team {{ user.member.team }}{% endif %}</a></li>
              <li><a href='{% url "logout" %}'>Log out</a></li>
            {% else %}  
              <li><a href='{% url "register" %}'>Register</a></li>
              <li><a href='{% url "login" %}'>Log in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}{% endblock %}

    <script src='{% static "puzzlehunt/js/vendor/jquery-2.1.4.min.js" %}'></script>
    <script src='{% static "puzzlehunt/js/vendor/bootstrap.min.js" %}'></script>
    <script src='{% static "puzzlehunt/js/vendor/jquery-timer.js" %}'></script>
    <script src='{% static "puzzlehunt/js/puzzlehunt.js" %}'></script>
    {% block js %}{% endblock %}
</body>
</html>
