{% extends 'puzzlehunt/puzzlehunt.html' %}
{% block title %}Puzzle {{ order }}: {{ title }}{% endblock %}


{% block css %}
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href='{% static "puzzlehunt/css/puzzle.css" %}'>
{% endblock %}


{% block body %}
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12'>
                <h1>Puzzle {{ order }}: {{ title }}<br>
                <small>{{ subtitle }}</small></h1>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-12'>
                <p>{{ flavortext }}</p>
            </div>
        </div>

        <div class='row text-center'>
{% for hint in hints %}
    {% if hint.can_show %}
            <div class='col-sm-4 hint' data-time-to-show='{{ hint.time_to_show }}' data-show-after='{{ hint.time_shown }}'>
                <h4>Hint {{ forloop.counter }}</h4>
                <p class='hint-text'>{{ hint.text }}</p>
                <div class='hint-timer'></div>
            </div>
    {% else %}
            <div class='col-sm-4 hint inactive' data-time-to-show='{{ hint.time_to_show }}' data-show-after='{{ hint.time_shown }}'>
                <h4>Hint {{ forloop.counter }}</h4>
                <p class='hint-text'></p>
                <div class='hint-timer'>
                    Available at<br>
                    {{ hint.time_shown }}
                </div>
            </div>
    {% endif %}
{% endfor %}
        </div>

        <div class='row solution-form'>
            <form>
                <div class='input-group input-group-lg'>
                    <label for='{{ form.solution.id_for_label }}' class='sr-only'>Solution</label>
                    <input class='form-control solution-field' id='{{ form.solution.auto_id }}' name='{{ form.solution.html_name }}' type='text' placeholder='Solution' required>
                    <span class='input-group-btn'>
                        <button class='btn btn-default' id='submit' type='submit'><i class='fa fa-chevron-right'></i></button>
                    </span>
                </div>
            </form>
        </div>

        <hr>

        <div class='row text-center'>
            <div class='col-sm-4'>
{% if end_time %}
                <h4 class='info-header'>Completed in</h4>
                <div id='completed-in' class='info-content'>{{ completed_in }}</div>
{% else %}
                <h4 class='info-header'>Elapsed</h4>
                <div id='par-timer' class='info-content' data-start-time='{{ start_time|date:"U" }}' data-par-limit='{{ par_duration }}'></div>
{% endif %}
            </div>
            <div class='col-sm-4'>
                <h4 class='info-header'>Par score</h4>
                <div id='par-score' class='info-content'>{{ par_score }} points</div>
            </div>
            <div class='col-sm-4'>
                <h4 class='info-header'>Par time</h4>
                <div id='par-time' class='info-content'>{{ par_duration_human }}</div>
            </div>
        </div>

{% if score %}
        <div class='row text-center'>
            <div class='col-sm-12'>
                <div id='score'>Points earned: {{ score }}</div>      
            </div>
        </div>
{% endif %}

    </div>
{% endblock %}


{% block js %}
    <script src='{% static "puzzlehunt/js/puzzle.js" %}'></script>
{% endblock %}
