{% extends 'puzzlehunt/puzzlehunt.html' %}
{% block title %}Team {{ team_name}}{{ title }}{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="center-text">Team {{ team.name }}</h1>
        <hr>
        <h3 class='text-center'>Members</h3>
        <div class="row">
          {% for member in members %}
            <div class='col-sm-6'>
              <div class='well well-sm text-center'>
                {{ member.user.first_name }} &middot; <samp>{{ member.user.username}}</samp>
              </div> 
            </div>
          {% endfor %}
        </div>
        <hr>
        <h3 class='text-center'>Progress</h3>
        {% if progress %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Puzzle Name</th>
                <th>Completed in</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody>
              {% for prog in progress %}
                <tr>
                  <td>{{ prog.puzzle.title }}</td>
                  <td>{% if prog.completed_in %}{{ prog.completed_in }}{% else %}--{% endif %}</td>
                  <td>{% if prog.completed_in %}{{ prog.score }}{% else %}--{% endif %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <hr>
          <h2 class='center-text'>
            {{ team.score }}<br>
            <small>Score</small>
          </h2>
        {% else %}
          <h2 class="center-text">No Puzzles Started Yet!</h2>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
